@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #fff;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.btn {
  border: 0;
  background: #fff;
  cursor: pointer;
}

.addBtn {
  font-weight: 500;
  font-size: 14px;
  /* width: 20%; */
  /* height: 58px; */
  color: #396df2;
  border: 1px solid #396df2;
  cursor: pointer;
  height: 2rem;
  margin: 12px 0;
  /* padding: 12px; */
  border-radius: 4px;
  background-color: #fff;
}

.addBtn:hover {
  color: white;
  background-color: #396df2;
}
