.oval {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
} 

.person-icon {
  width: 1.063rem;
  height: 1.063rem;
  background-color: #0290ff;
}
